.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  /* background-color: ivory; */
  background: url("../src/images/movieclip.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 900px;
}

#appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

body {
  justify-content: center;
  align-content: center;
  background: url("../src/images/movieclip.jpg");
  background-repeat: no-repeat;
  background-size: 1320px 1000px;
}

/* 
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
   background: image; 
  background-repeat: no-repeat;
}

.containerCard {
  display: flex;
  height: 500px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   background: image; 
  background-repeat: no-repeat;
} */

#heading {
  color: blueviolet;
  font-size: xx-large;
}

#heading1 {
  color: darkred;
  font-size: xx-large;
}
#heading2 {
  color: red;
  font-size: x-large;
}
.box {
  display: flex;
  align-items: center;
  margin-bottom: 400px;
  height: 20%;
  width: 52%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: -20%;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  overflow-y: scroll;
}

.createNote1 {
  height: 80%;
  width: 80%;
  /* margin-left: 0px;
  text-align: left; */
  margin-bottom: 10%;
  padding: 20px;
  border: 1px solid #dadce0;
}